modules/step_functions/state_machine.json
{
  "Comment": "RDS DR Failover State Machine",
  "StartAt": "NotifyStart",
  "States": {
    "NotifyStart": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Message": "Failover process started!"
      },
      "Next": "FindLatestSnapshot"
    },
    "FindLatestSnapshot": {
      "Type": "Task",
      "Resource": "${lambda_failover_arn}",
      "Parameters": {
        "action": "find_latest_snapshot"
      },
      "ResultPath": "$.snapshot",
      "Next": "RestoreDB"
    },
    "RestoreDB": {
      "Type": "Task",
      "Resource": "${lambda_failover_arn}",
      "Parameters": {
        "action": "restore_db",
        "snapshot_id": "$.snapshot.id"
      },
      "ResultPath": "$.restore",
      "Next": "WaitForDB"
    },
    "WaitForDB": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "CheckDBStatus"
    },
    "CheckDBStatus": {
      "Type": "Task",
      "Resource": "${lambda_failover_arn}",
      "Parameters": {
        "action": "check_db_status",
        "db_instance_id": "$.restore.db_instance_id"
      },
      "ResultPath": "$.db_status",
      "Next": "DBAvailable?"
    },
    "DBAvailable?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.db_status.status",
          "StringEquals": "available",
          "Next": "UpdateSSMAndDNS"
        }
      ],
      "Default": "WaitForDB"
    },
    "UpdateSSMAndDNS": {
      "Type": "Task",
      "Resource": "${lambda_failover_arn}",
      "Parameters": {
        "action": "update_ssm_and_dns",
        "db_instance_id": "$.restore.db_instance_id"
      },
      "ResultPath": "$.dns_update",
      "Next": "NotifyCompletion"
    },
    "NotifyCompletion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Message": "Failover completed successfully!"
      },
      "End": true
    }
  }
}
